.cookie-banner {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-size: 14px;
    z-index: 9999; 
    display: none;
    gap: 15px;
    width: calc(100% - 40px);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cookie-banner.active {
    display: flex;
}

.cookie-banner p {
    margin: 0;
    line-height: 1.4;
}

.cookie-button-accept {
    background-color: #f97316;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.cookie-button-decline {
    background-color: #fff;
    color: #444;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.cookie-button-accept:hover {
    background-color: #ffa348;
    transform: scale(1.05);
}

.cookie-button-decline:hover {
    color: #f97316;
    transform: scale(1.05);
}

@media screen and (max-width: 1400px) {
    .cookie-banner {
        padding: 12px 15px;
        gap: 10px;
    }
    .cookie-banner.active {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .cookie-button-decline,
    .cookie-button-accept {
        width: 100%;
    }
}
